@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.main {
  padding: 30px 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 3px solid #242628;
  transition: background-color 0.5s ease, color 0.5s ease;
  position: absolute;
}

.box-1a, .box-1b {
  width: 12.5%;
  height: 20%;
  font-size: 20px;
}

.box-1a {
  top: 0;
  left: 25%;
}

.box-1b {
  top: 20%;
  left: 25%;
}

.box-2 {
  width: 25%;
  height: 40%;
  font-size: 40px;
  top: 0;
  left: 0;
}

.box-3 {
  width: 37.5%;
  height: 60%;
  font-size: 80px;
  bottom: 0;
  left: 0;
}

.box-5 {
  width: 62.5%;
  height: 100%;
  font-size: 140px;
  top: 0;
  right: 0;
}

.box-size {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.clock.numbers-are-visible .box-size {
  opacity: 0.85;
}

.clock {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  padding-bottom: 62.5%;
  margin-bottom: 60px;
}

.color_palette_select {
  margin-bottom: 15px;
}

.color_palette_select-label {
  display: block;
}

/* Media Queries */
@media (min-width: 500px) {
  .container {
      width: 80%;
  }
}

@media (min-width: 769px) {
  .container {
      width: 70%;
  }

  .box-1a, .box-1b {
      font-size: 40px;
  }

  .box-2 {
      font-size: 80px;
  }

  .box-3 {
      font-size: 160px;
  }

  .box-5 {
      font-size: 280px;
  }
}

@media (min-width: 1025px) {
  .container {
      width: 60%;
  }
}
#Dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.btn {
  padding-inline: 20px;
  padding-block: 10px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid grey;
  color: white;
  font-size: large;
  background-color: rgb(83, 83, 83);
  transition: 250ms ease-in-out;
}
.btn:hover {
  background-color: rgb(148, 148, 148);
}